{% extends "base.html" %}

{% load i18n %}
{% block content %}
<h1>
    {% blocktrans %}Столы в {{ restaurant.name }}{% endblocktrans %}
</h1>

<ul class="list-group">
    {% for table in tables %}
    <li class="list-group-item">
        {% blocktrans with number=table.number capacity=table.capacity %}
            Стол №{{ number }} ({{ capacity }} персон)
        {% endblocktrans %}
        <a href="{% url 'reservation-create' %}?table_id={{ table.id }}" 
           class="btn btn-primary float-end">
            {% trans "Забронировать" %}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
