{% load i18n %}
<h2>{% trans "Забронировать столик" %}</h2>
<form action="/book" method="POST">
  <label>{% trans "Имя:" %}</label>
  <input type="text" name="name" required><br>
  
  <label>{% trans "Телефон:" %}</label>
  <input type="tel" name="phone" required><br>
  
  <label>{% trans "Ресторан:" %}</label>
  <select name="restaurant">
    <option>{% trans "Burger Palace" %}</option>
    <option>{% trans "Hinkali from Damir" %}</option>
    <option>{% trans "Pizza from Damir" %}</option>
  </select><br>
  
  <label>{% trans "Дата и время:" %}</label>
  <input type="datetime-local" name="datetime" required><br>
  
  <button type="submit">{% trans "Забронировать" %}</button>
</form>
