{% extends "base.html" %}

{% block content %}
<h1>{{ restaurant.name }}</h1>
<p>Адрес: {{ restaurant.address }}</p>
<p>Телефон: {{ restaurant.phone }}</p>

<h2>Столы:</h2>
<ul>
    {% for table in restaurant.table_set.all %}
    <li>
        Стол №{{ table.number }} ({{ table.capacity }} персон)
        <a href="{% url 'reservation-create' %}?table_id={{ table.id }}">Забронировать</a>
    </li>
    {% endfor %}
</ul>
<a href="{% url 'table_create' restaurant_id=restaurant.pk %}">
    <button>Create table</button>
    </a>

<a href="{% url 'restaurant_delete' pk=restaurant.pk %}">
<button>Delete</button>
</a>

{% endblock %}