{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>{% blocktrans with name=restaurant.name %}Столы в {{ name }}{% endblocktrans %}</title>
</head>
<body>
    <h1>{% blocktrans with name=restaurant.name %}Столы в {{ name }}{% endblocktrans %}</h1>
    <ul>
    {% for table in tables %}
        <li>
            {% blocktrans with number=table.number capacity=table.capacity %}
                Стол №{{ number }} ({{ capacity }} чел.)
            {% endblocktrans %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
